.favorites-view {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
}

.favorites-view__card {
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
  padding: 3rem;
}
