.login-view__form {
  height: 90vh;
  display: block;
  text-align: center;
  padding-top: 5rem;
}

Form {
  color: white;
  display: inline-block;
  margin: 0 auto;
  width: 30%;
  min-width: 18rem;
  text-align: left;
}

.register {
  text-align: center;
  margin-top: 20px;
}

.submit-button {
  margin-top: 20px;
}

h3 {
  color: white;
  margin-top: 120px;
}
