.movie-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0 auto;
  padding: 3rem 0;
}

.movie-view img {
  width: 30rem;
}

.movie-view--title {
  margin-bottom: 4rem;
  // text-align: center;
}

.movie-view--description {
  width: 32rem;
}

.movie-view--description p {
  color: white;
  font-size: 1.1rem;
  padding: 0 0.3rem;
}

.movie-view--link:hover {
  text-decoration: none;
}

.movie-view button {
  margin-top: 3rem;
}
