body {
  background: url("../../../src/images/background.jpg") no-repeat center center
    fixed;
}

#username {
  display: inline-block;
  text-align: center;
  color: white;
}

#username span {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  height: 5rem;
  width: 100%;
  background-color: black;
  padding: 3.5rem 2rem;
}

.navbar-brand {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.01rem;
}

.navbar-brand--link {
  color: #e50916;

  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.navbar-brand--link:hover {
  text-decoration: none;
  color: #e50916;
}

.main-view--button,
.main-view--button:focus {
  text-decoration: none;
  color: white;
  // font-size: 1.2rem;
  transition: color 1s ease;
}

.main-view--button:hover {
  text-decoration: none;
  color: gray;
  // font-size: 1.1rem;
}

.main-view--login-text {
  color: white;
}
