.profile-view {
  color: white;
  height: 90vh;
  width: 100%;
  padding-top: 11rem;
  font-size: 1.1rem;
}

.profile-view .card {
  background-color: rgba(0, 0, 0, 0.7);
  // background-color: green;
  border-radius: 5px;
  height: auto;
  padding: 0rem 3rem 2rem;
  margin: 0 auto;
  max-width: 40rem;
}

.profile-view__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text > span {
  color: #777;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 75%;
}
