.movie-view {
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 11rem;
}

.movie-view__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin: 0 auto;
}

.movie-view__img {
  max-width: 31rem;
  min-width: 17rem;
}

.movie-view__img img {
  border-radius: 5px;
}

.movie-view__body {
  flex-direction: column;
}

.movie-view__title {
  color: white;
  margin-bottom: 4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.movie-view__description {
  width: 29rem;
}

.movie-view__description p {
  color: white;
  font-size: 1.1rem;
  padding: 0 0.3rem;
}

.movie-view__link:hover {
  text-decoration: none;
}

.movie-view .btn .btn-dark {
  padding: 5rem 2rem;
}

.movie-view h5 > span {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.favorite-btn:active {
  transform: scale(1.2);
}

.fas.fa-heart {
  transform: scale(1.2);
}
